<footer class="bg-brand px-3 py-4 my-4 text-white">
		<div class="w-1/2 m-auto">
			<div class="text-center p-4">{{ partial "icon" (dict "class" "fill-white") }}</div>
			<div class="text-center font-serif pb-2 text-xl leading-loose">
				<p>Get something in your inbox every week or two with thoughts and books about health, performance and entrepreneurship.</p>
				<div class="py-2"  id="thoughts">{{ partial "newsletter-form" . }}</div>
				{{ partial "social-icon" (dict "link" "https://twitter.com/airjoshb" "svg" "icons-twitter") }}	
				<p class="text-center text-lg font-serif py-2">Please reach out by email, josh at gotostepone dot com</p>		
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>	
			</div>	
		</div>
</footer>
{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
