<div id="sidebar-nav" class="w-1/6 p-4 text-right flex flex-col">
    <div class="logo">
        <a href="/" class="shadow-none hover:shadow-none">
            {{ partial "logo" (dict "class" "fill-brand h-24 w-24")  }}
        </a>
    </div>
    <nav id="main" class="w-full text-right text-sm">
        <div class="border-t-4 border-solid border-brand text-brand-green relative">
                <a href="#" class="cursor-not-allowed">Posts</a>
        </div>

        <div class="border-t-4 border-solid border-brand text-brand-green relative">
                <a href="#" class="cursor-not-allowed">Essays</a>
        </div>

        <div class="border-t-4 border-solid border-brand text-brand-green relative">
                <a href="#about">About Joshua</a>
        </div>
    </nav>
</div>
