<section class="py-6 px-6 lg:px-20">
	<container class="flex">
		<div class="lg:w-2/3">
			<h2 class="font-bold text-xl text-brand">{{.heading}}</h2>
			{{.text}}
		</div>

		<div class="lg:w-1/3 lg:ml-4">
			<img src="{{ .image }}" alt="" class="rounded-full">
		</div>
	</container>

	<!-- <form action="{{.buttonLink}}">
		<button class="bg-transparent hover:bg-brand text text-brand font-semibold hover:text-brand-light py-2 px-4 border border-brand border-solid hover:border-transparent rounded raise">{{.buttonText}}</a>
	</form> -->

</section>
