{{ define "main" }}
  <div class="flex" id="blog">
    <div class="w-3/4 m-auto overflow-hidden px-5 pt-8 pb-4" id="post">
      <div class="mb-8 flex items-end">
        {{ if .Params.image }}<img src="https://res.cloudinary.com/airjoshb/image/upload/w_600,f_auto/{{ .Params.image }}" alt="{{ .Title }}" class="w-3/5 border-r-8 border-solid border-green-brand" />{{ end }}
        <div class="ml-3">
          <h1 class="font-serif text-brand leading-none mb-0 flex-shrink flex-no-grow">{{.Title}}</h1>
          <h2 class="font-serif text-brand text-lg italic font-hairline">{{ .Description }}</h2></div>
        </div>
      <div class="flex flex-row" id="content">
        <div class="text-brand w-1/4 mr-1 italic text-sm font-serif flex flex-col" id="colophon">
          {{ .Date.Format "Monday, January 2, 2006" }}
          <p>Read in {{ .ReadingTime }} minutes</p>
          <div class="">
            Share on
            <a href="//twitter.com/share?url={{ .Permalink }}&amp;text=I%20just%20saw%20this&amp;via=airjoshb" target="_blank" class="inline-block shadow-none align-middle hover:shadow-none">
              <svg width="16px" height="16px" class="db fill-brand inline">
                <use xlink:href="#icons-twitter"></use>
              </svg>
            </a>
            <a href="https://refind.com?url={{ .Permalink }}" target="_blank" class="inline-block shadow-none align-middle hover:shadow-none"><img src="https://refind.com/img/logo-gray.svg" style="width: 16px; height: 16px;" class="db fill-brand inline" /></a>
          </div>
          <div class="text-right mt-2 border-t-4 pt-2 border-solid border-green-brand">      
            <svg class="h-5 green-brand" height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="transparent" fill="brand"></circle>
            </svg>
          </div>
          {{ with .Resources.ByType "page" }}
            <div class="my-4" id="toc"> 
              <ol>
                <h5>Table of Contents</h5>
                <li>Beginning</li>
                {{ range . }}
                 <li><a href="#{{ .File.BaseFileName }}">{{ .Title }}</a></li>
                {{ end }}
              </ol>
            </div>  
          {{ end }}
        </div>
        <div class="flex flex-col w-full">
          {{ with .Site.GetPage "gear" }}
            {{ range $gear, $gear := .Resources.Match (string ($.Params.gear)) }}  
                <div class="bg-white shadow-lg font-serif text-brand text-lg  mb-4 p-5 flex-row flex">
                  <div class="w-1/5 h-24" >
                    <img src="{{ .Params.image }}" class="h-24" /> 
                  </div>  
                  <div class="w-4/5 pl-4">
                    <h4>Gear ::
                    <a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a>
                    </h4>
                    <p>{{ .Content }}</p>
                  </div>
                </div>
              {{ end }}
          {{ end }}
          <div class="bg-white shadow-lg leading-normal text-lg border-l-thick border-solid border-green-brand mb-4 p-5" id="body">
            {{ .Content }}
          </div>
          <svg class="h-5 float-right text-right green-brand mb-4" height="20" width="20">
            <circle cx="10" cy="10" r="8" stroke="transparent" fill="brand"></circle>
          </svg>
          {{ with .Resources.ByType "page" }}
            {{ range . }}
              <div class="bg-white shadow-lg leading-normal text-lg border-l-thick border-solid border-green-brand p-5 mb-4" id={{ .File.BaseFileName }}>
                <h3 class="text-2xl leading-none">{{ .Title }}</h3>
                <div class="italic text-sm mb-6">
                  {{ .Date.Format "Monday, January 2, 2006" }}
                </div>
                {{ .Content }}
              </div>
              <svg class="h-5 float-right green-brand mb-4" height="20" width="20">
                <circle cx="10" cy="10" r="8" stroke="transparent" fill="brand"></circle>
              </svg>
            {{ end }}
          {{ end }}  
        </div>        
      </div>
    </div>
    {{ partial "nav" .}}
  </div>
{{ end }}
