{{ define "main" }}
<div class="flex" id="products">
  <div class="p-4">
    {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}
    
    {{ with .Params.intro }}
    <div class="flex flex-row">
      <div class="ph3 mw7 center">
        <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
        <p class="mb4 mw6">{{.intro.description}}</p>
    
        <div class="flex flex-row mb3">
          {{ range .blurbs }}
          <div class="w-1/2">
            <img src="https://res.cloudinary.com/airjoshb/image/upload/w_350,f_auto/{{.image}}" alt="" class="center db mb3" style="width: 240px">
            <p>{{.text}}</p>
            <a href="{{.url}}" target="_blank">Click to Order</a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    


    {{ with .Params.main }}
    <div class="mw7 center">
      <div class="mw6 ph3 mb3">
        <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
        <p>{{ .description }}</p>
      </div>
    </div>

    <!-- Image grid -->
    {{ partial "image-grid" . }}
    {{ end }}

    <div class="pb4">
      {{ range .Params.testimonials }}
        {{ partial "blockquote" . }}
      {{ end }}
    </div>

    <!-- Full-width image -->
    <img src="https://res.cloudinary.com/airjoshb/image/upload/t_post_size/v1556313746/{{ .Params.full_image }}" alt="" class="db w-100">

    {{ partial "table" .Params.pricing }}
  </div>
{{ partial "nav" .}}
</div>
{{ end }}
