body {
    background-color: #fff;
    color: #333;
    font-size: 62.5%;
    @apply .font-sans;
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    -webkit-font-smoothing: antialiased;
}
#post #body p, #update p, #body ul, #post #body ol { margin-bottom: 1.5em; @apply .font-serif; }
#post h1 {font-size: 3.3rem;}
#blog #post #body>p:first-of-type:first-letter {
    float: left;
    font-size: 107px;
    padding-top: 0px;
    padding-right: 7px;
    line-height: 77px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-weight: bold;
    @apply .font-sans;
}
header img {  
    -webkit-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    z-index: 0;
    max-width: 120%;
}
.h-64i {@apply .h-64 !important;}
header .flex * { z-index: 50;}
header a { font-weight: 700; @apply .text-grey-lightest; box-shadow: inset 0 -1px 0 config("colors.green-brand"); }
.fill-brand {fill: config("colors.brand");}
.fill-white {fill: config("colors.grey-lightest");}
p { @apply .break-words;}
a {text-decoration: none; box-shadow: inset 0 -1px 0 config("colors.green-brand"); color: inherit;}
a:hover {color: config("colors.green-brand"); box-shadow: inset 0 -1px 0 config("colors.green-brand");}
.hover-shadow {box-shadow: inset 0 -1px 0 config("colors.green-brand");}
nav div:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: config("colors.grey-light");}
nav#main div:hover::before {background-color: config("colors.brand");}
nav a, nav a:hover {box-shadow: none;}
.update p img {@apply .w-1/2; @apply .ml-2; @apply .mb-2; @apply .float-right; @apply .inline;}
#body p img {@apply .w-2/5; @apply .pl-2; @apply .pb-2; @apply .float-right; @apply .inline; @apply .m-0;}

#list img {
    @apply .relative;
    @apply .h-auto;
    @apply .w-auto;
    @apply .min-w-full;
    @apply .min-h-full;
    max-width: 200%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#list .title {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
#list .title-sans-image {word-break: break-word; font-size: 1.89rem;}
#list-item {flex-basis: 33%;}
svg.green-brand {fill: config("colors.green-brand");}
@screen sm {}

@media screen and (max-width: 768px) {
   .main {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .image-header {height: 110%;}

    header .logo {
        @apply .h-32;
        @apply .w-32;
        margin: 2rem auto;
    }
    header .logo svg {fill: config("colors.grey-lightest");}

    .header-content h1 {
        @apply .text-3xl;
        @apply .text-center;
    }
    .header-content p {
        @apply .font-semibold;
        @apply .text-lg;
        @apply .text-center;
    }
    .header-content {
        @apply .flex-col;
    }
    .header-content div {border-right: transparent;}
    .title {
        @apply .w-full;
    }
    .home-nav {
        @apply .w-full;
    }
    .update { 
        @apply .flex-col; 
        @apply .w-full; 
    }
    .update div { width: 90%; }
    .text-image container .text { @apply .w-full;}
    .text-image container { @apply .flex-wrap; }
    nav {display: none;}
    #update, #blog, #list  { @apply .flex-col-reverse;}
    #content {@apply .flex-col;}
    #colophon, #body { @apply .w-full;}
    #body {@apply border-l-0; }
    #post { @apply .w-5/6;}
    #post h1 { @apply .text-4xl;}
    #sidebar-nav { @apply py-2; @apply .m-auto; @apply .w-32; @apply px-0;}
    #sidebar-nav .logo { @apply .h-32; @apply .w-32;}
    #post > div {@apply .flex-wrap}
    #post > div img {@apply .flex-wrap; @apply .w-full; @apply .border-r-0; @apply .border-b-8;}
    #post > div h1 {@apply pt-4; @apply ml-0;}
  }
  