header img {  
    -webkit-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    z-index: 0;
    max-width: 120%;
}
header .flex * { z-index: 50;}
header a { text-transform: uppercase; font-weight: 700;}
.fill-brand {fill: config("colors.brand");}
.fill-white {fill: config("colors.grey-lightest");}
a {text-decoration: none; box-shadow: inset 0 -1px 0 config("colors.brand-light");}
a:hover {color: config("colors.brand-light"); box-shadow: inset 0 -1px 0 config("colors.brand-light")}
nav div:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: config("colors.grey-light");}
nav a, nav a:hover {box-shadow: none;}
.update p {margin-bottom: 0;}
@screen sm {}

@media screen and (max-width: 768px) {
   .main {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .image-header {height: 110%;}

    header .logo {
        @apply .h-24;
        @apply .w-24;
        margin: 2rem auto;
    }
    header .logo svg {fill: config("colors.grey-lightest");}

    .header-content h1 {
        @apply .text-3xl;
        @apply .text-center;
    }
    .header-content p {
        @apply .font-semibold;
        @apply .text-sm
    }
    .header-content {
        @apply .flex-col;
    }
    .header-content div {border-right: transparent;}
    .title {
        @apply .w-full;
    }
    .home-nav {
        @apply .w-full;
    }
    .update { 
        @apply .flex-col; 
        @apply .w-full; 
    }
    .update div { width: 90%; }
    .text-image container .text { @apply .w-full;}
    .text-image container { @apply .flex-col; }
  }
  